RUST_LOG=info

# bootstrap build
BURN_P2P_BOOTSTRAP_FEATURES=admin-http,metrics,browser-edge,browser-join,auth-static

# validator build
BURN_P2P_VALIDATOR_FEATURES=admin-http,metrics,auth-static

# trainer app build
# point these at the downstream application that actually embeds your workload.
BURN_P2P_TRAINER_APP_MANIFEST_PATH=crates/burn_p2p/Cargo.toml
BURN_P2P_TRAINER_APP_TARGET_KIND=example
BURN_P2P_TRAINER_APP_TARGET_NAME=synthetic_trainer
BURN_P2P_TRAINER_APP_FEATURES=burn
BURN_P2P_TRAINER_APP_NO_DEFAULT_FEATURES=false

# trainer commands/configs
BURN_P2P_TRAINER_CPU_CONFIG_PATH=./trainer.json
BURN_P2P_TRAINER_CPU_COMMAND=/config/trainer.json
BURN_P2P_TRAINER_GPU_CONFIG_PATH=./trainer-gpu.json
BURN_P2P_TRAINER_GPU_COMMAND=/config/trainer-gpu.json
